In [1]:
import pandas as pd
df1 = pd.read_csv('album-june6.csv')
df2 = pd.read_csv('album-june7.csv')
df3 = pd.read_csv('album-june8.csv')
df4 = pd.read_csv('album-june9.csv')
df5 = pd.read_csv('album-june10.csv')
df6 = pd.read_csv('album-june11.csv')
df7 = pd.read_csv('album-june12.csv')

In [6]:
albums = list(df1['album']) + list(df2['album']) + list(df3['album']) + list(df4['album']) + list(df5['album']) + list(df6['album']) + list(df7['album'])
albums = set(albums)
final = {}

In [7]:
album = list(df1['title'])
for x in albums:
    if x in album:
        final[x] = list(df1['Position'][df1['title'] == x])
    else:
        final[x] = [301]

In [8]:
album1 = list(df2['title'])
for x in albums:
    if x in album1:
        final[x].append(int(df2['Position'][df2['title'] == x]))
    else:
        final[x].append(301)

In [9]:
album2 = list(df3['title'])
for x in albums:
    if x in album2:
        final[x].append(int(df3['Position'][df3['title'] == x]))
    else:
        final[x].append(301)

In [10]:
album3 = list(df4['title'])
for x in albums:
    if x in album3:
        final[x].append(int(df4['Position'][df4['title'] == x]))
    else:
        final[x].append(301)

In [11]:
album4 = list(df5['title'])
for x in albums:
    if x in album4:
        final[x].append(int(df5['Position'][df5['title'] == x]))
    else:
        final[x].append(301)

In [12]:
album5 = list(df6['title'])
for x in albums:
    if x in album5:
        final[x].append(int(df6['Position'][df6['title'] == x]))
    else:
        final[x].append(301)

In [13]:
album6 = list(df7['title'])
for x in albums:
    if x in album6:
        final[x].append(int(df7['Position'][df7['title'] == x]))
    else:
        final[x].append(301)

In [14]:
len(final)

134

In [15]:
albums = [x[:x.index('-') - 1 ] for x in final.keys()]
artists = [x[x.index('-') + 2:] for x in final.keys()]
post1 = [x[0] for x in final.values()]
post2 = [x[1] for x in final.values()]
post3 = [x[2] for x in final.values()]
post4 = [x[3] for x in final.values()]
post5 = [x[4] for x in final.values()]
post6 = [x[5] for x in final.values()]
post7 = [x[6] for x in final.values()]
postT = [(post1[x] + post2[x] + post3[x] + post4[x] + post5[x] + post6[x] + post7[x] )/7 for x in range(0, 134)]

In [16]:
data = {'album':albums,'artist':artists,'R1':post1,'R2':post2,'R3':post3,'R4':post4,'R5':post5,'R6':post6,'R7':post7,'RT': postT}
df = pd.DataFrame(data)

In [17]:
df.sort_values(by=['RT'], inplace=True)

In [19]:
df['rank'] = [x for x in range(1,135)]
df = df.set_index('rank')

In [20]:
df

,album,artist,R1,R2,R3,R4,R5,R6,R7,RT
rank,,,,,,,,,,
1,Feeling,"LADIPOE, Buju",2,2,2,2,1,1,6,2.285714
2,Soundgasm,Rema,1,1,1,1,2,2,8,2.285714
3,Rock,Olamide,3,4,4,4,4,3,1,3.285714
4,Bounce,Ruger,4,3,3,3,3,4,9,4.142857
5,Outside,Buju,5,6,5,5,5,5,14,6.428571
...,...,...,...,...,...,...,...,...,...,...
130,6am in Brighton,ArrDee,301,301,301,301,96,301,301,271.714286
131,Heart of a Giant,"POLO G, Rod Wave",97,301,301,301,301,301,301,271.857143
132,Arch Angel 222,Diamondxx,301,301,301,301,301,98,301,272.000000
133,Wow,Tion Wayne,98,301,301,301,301,301,301,272.000000
134,lovely,"Billie Eilish, Khalid",301,99,301,301,301,301,301,272.142857

In [21]:
df.to_csv('deezer-week24.csv')